<%- include ../partials/head.ejs %>

<form action="/admin/login" method="post">
  <fieldset>
    <legend>Inloggen</legend>
    <label for="username">Geberuikersnaam:</label>
    <input type="text" name="username" id="username" value="" /><br>
    <label for="password">Wachtwoord:</label>
    <input type="password" name="password" value="" /><br>
    <input type="submit" id="submit" value="Login" /><br>
  </fieldset>
</form>

<%- include ../partials/foot.ejs %>
