<%- include partials/head.ejs %>
<main>
<h1>Find your musical match</h1>
<h2>Wat is MusicalMatch?</h2>
<p>

</p>
<a role="button" class="btn btn-primary  btn-block" href="/users/register">Registeren</a><br>
<a href="/users" class="btn btn-default  btn-block">Inloggen</a>

<%- include partials/foot.ejs %>
