<%- include partials/head.ejs %>
<main style="text-align:center;">
<h1>Find your musical match</h1>
<h2>Wat is MusicalMatch?</h2>
<p>
  MusicalMatch is de website om je musicale wederhelft te vinden. Doormiddel van een revolutionair matching systeem kom je uit bij jouw partner. Wij helpen jouw naar een nieuwe relatie.
Dit idee word gesteund door grote muziek bedrijven zoals mojo en ticketswap. Vind je match en wie weet ga jij gratis of met korting naar jullie favoriete artiest.
</p>
<img src="https://images.unsplash.com/photo-1481886756534-97af88ccb438?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&dl=hans-vivek-176134.jpg&s=efe682eaaa65b661c777b0df1f97d064" style="width:70%;" alt=""><br><br>
<a role="button" class="btn btn-primary  btn-block" href="/users/register">Registeren</a><br>
<a href="/users" class="btn btn-default  btn-block">Inloggen</a>

<%- include partials/foot.ejs %>
