<%- include partials/head.ejs %>
<main>
<h1>Find your musical match</h1>
<h2>Wat is MusicalMatch?</h2>
<p>

</p>
<a href="/users/register">Registeren</a><br>
<a href="/users">Inloggen</a>

<%- include partials/foot.ejs %>
