<%- include partials/head.ejs %>

<h1>Find your musical match</h1>
<a href="/info">Wat is MusicalMatch?</a><br>
<a href="/users/register">Registeren</a><br>
<a href="/users">Inloggen</a>

<%- include partials/foot.ejs %>
