<%- include ../partials/head.ejs %>
<main>
<form action="/users/login" method="post">
  <fieldset>
    <legend>Inloggen</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="Username">Emailadres:</label>
      <div class="col-sm-6">
        <input class="form-control" type="text" name="username" id="username" value="" /><br>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="Username">Wachtwoord:</label>
      <div class="col-sm-6">
        <input class="form-control" type="password" name="password" id="password" value="" /><br>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" id="submit" value="Login" /><br>
    <a href="/users/wachtwoordvergeten">Wachtwoord vergeten?</a>
  </fieldset>
</form>

<%- include ../partials/foot.ejs %>
