<form action="/users/login" method="post">
  <fieldset>
    <label for="Username">Emailadres:</label>
    <input type="email" name="username" id="username" value="" /><br>
    <label for="password">Wachtwoord:</label>
    <input type="password" name="password" value="" /><br>
    <input type="submit" id="submit" value="Login" /><br>
    <a href="/users/wachtwoordvergeten">Wachtwoord vergeten?</a>
  </fieldset>
</form>
