<%- include ../partials/head.ejs %>
<main>
  <h2>Gebruikersnaam en wachtwoord zijn niet geldig</h2>
<script type="text/javascript">
  setTimeout(function () {
     window.location.href = "/users";
  }, 2000);
</script>
<%- include ../partials/foot.ejs %>
