<%- include ../partials/head.ejs %>
<main>
<form action="/users/wachtwoordvergeten" method="post">
  <fieldset>
    <legend>Wachtwoord vergeten</legend>
    <label for="Username">Emailadres:</label>
    <input type="email" name="username" id="username" value="" /><br>

    <label for="password">Niew wachtwoord:</label>
    <input type="password" name="password" value="" /><br>

    <label for="herpassword">Herhaal niew achtwoord:</label>
    <input type="password" name="herpassword" value="" /><br>

    <label for="postcodecontrole">Voor controle uw postcode:</label>
    <input type="text" name="postcodecontrole" value="" /><br>
    <input type="submit" id="submit" value="Reset" /><br>
  </fieldset>
</form>
</div>

<%- include ../partials/foot.ejs %>
